@media (min-width: 992px) {
  #loginBg {
      min-height: 90vh; 
      /* scroll exists because of this ^ */
    }  
}

.card::before{
  display: none;
}

#loginImage{
  background-image: url('../../../../public/images/LoginClear.png');
  height: 80%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.close{
  cursor: pointer;
}