.tag-wrapper{
    z-index: 1;
}
.tag::before{
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0;
    top:-50%;
    transform: rotate(180deg);
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    z-index: -1;
}
.tag{
    color: white;
    position: absolute;
    top: 25px;
    right: -20px;
}
.tag.non-veg::before{
    border-right: 20px solid rgb(144, 10, 10);
}
.tag.non-veg{
    background-color: rgb(184, 21, 21);
    padding: 10px 12px;
}
.tag.veg::before{
    border-right: 20px solid rgb(40, 116, 36);
}
.tag.veg{
    background-color: rgb(54, 147, 49);
    padding: 10px 25px;
}
.corner-logo::before{
    content: "";
    background-image: url(../../../../../public/images/dish.png);
    background-size: 50px 50px;
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    top:0;
    left:0;
    margin: 10px;
}
.title{
    display: inline-block;
    max-width: 85%;
    padding: 0 5%;
    word-wrap: break-all;
    white-space: normal;
    position: relative;
}
.preparation{
width:100%;
height: 4.5rem;   /*1.75rem per line*/
overflow:hidden; 
text-overflow:ellipsis;
}