.box .number
{
    position: relative;
    display: table;
    margin: 0 auto;
}
.box .number h2{
    font-size: 48px;
}
.box .text
{
    margin: 0;
    padding: 10px 0 0;   
    font-weight: 700;
    letter-spacing: 1px;
}